/* GLOBAL SETUP */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
/* 1 */
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* FONT STYLES */
p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #2A7CD5;
}

.small {
  text-align: center;
  font-size: 1.2rem;
}

/* BODY STYLES */

.container {
  width: 95%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.image {
  background-image: url("sample.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #D9D8D9;
  width: 100%;
  height: 20rem;
  display: flex;
  padding: 2%;
}

.status {
  align-self: flex-end;
  background: #262626;
  border-radius: 0.3rem;
  display: block;
  padding: 0.7rem 3rem;
}

.status>p {
  color: white;
}

.status.upcoming {
  background: #517BD3;
}

.rewards {
  flex-direction: column;
  border-radius: 2px;
  position: relative;
  width: 32.5%;
  flex-wrap: wrap;
  margin-top: 0.4rem;
  border: 1px solid #D9D8D9;
}

/* Media Query for better fit on smaller screens */
/* Mobile View still needs to be adjusted */
/* May need to change depending on how fits in existing website */
@media (max-width: 900px) {
  .rewards {
    width: 49.5%;
    margin-top: 1rem;
  }
}


.rewards>p {
  text-align: center;
  margin-top: 1rem;
  line-height: 2.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 3%;
}

.details,
.rewards>p {
  padding: 3%;
}

.title>p {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: wrap;
}

.title {
  flex: 1;
  padding-right: 1rem;
}

.title,
.info {
  margin: 0.2rem 0;
}

.shareButton {
  background: #F38901;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.8rem 0;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: white;
}

button:focus {
  outline: 1px solid #fff;
  background: #d9d8d9;
}

button i {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

/* SHARE MODAL STYLES */

.shareModal {
  background: white;
  border: 1px solid #e4e4e4;
  position: absolute;
  margin: 2rem;
  width: 60rem;
}

.shareModalInfo {
  display: flex;
  align-items: center;
}

.shareModalInfo>p {
  color: #A08588;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
}

.closeButton a {
  display: flex;
  align-self: center;
  padding: 1rem 1rem;
  margin: 1rem;
  width: 0;
  border-radius: 50%;
  width: 1.6rem;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  border: 1px solid #D3D3D3;
  background: #d3d3d3;
  color: white;
}

.shareModalInfo,
.shareModalSocial {
  padding: 1rem;
}

.shareModalSocial {
  display: flex;
  justify-content: space-between;
  background: #F7F7F7;
  border-top: 1px solid #dfdfdf;
}

.shareModalSocialForm {
  flex: 1;
}

.shareUrl {
  margin: 0.3rem 0;
  padding: 1rem;
  font-size: 1.5rem;
  width: 70%;
}

.urlCopyButton {
  width: 22%;
  border-radius: 0.5rem;
  margin: 1rem;
  background: orange;
  background-image: linear-gradient(#e97c01, #fe8801);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
}

input,
label {
  font-size: 1.6rem;
  color: #A08588;
}

.shareModalSocialIcons {
  display: flex;
  padding: 1.7rem 0;
}

.social {
  width: 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
}

.social i {
  color: white;
  font-size: 1.3em;
}

.email {
  background: #62962b;
}

.facebook {
  background: #405a93;
}

.twitter {
  background: #4aabe7;
}

.pinterest {
  background: #bb3330;
}